<div class="table-menu">
  <div class="table-status">
    <span>Status</span>
    <div class="table-status-group">
      <div class="table-status-item" *ngFor="let statusItem of statusList">
        <input
          type="checkbox"
          (change)="onChangeStatus($event)"
          [value]="statusItem"
        />
        <span>{{ statusItem }}</span>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="divider"></div>
  </div>

  <div class="table-product-line">
    <span>Product Line</span>
    <select
      class="table-product-line-select"
      (change)="onChangeProductLine($event)"
    >
      <option value="All Product Lines">All Product Lines</option>
      <option value="Ready-Mix">Ready-Mix</option>
      <option value="Cement">Cement</option>
      <option value="Aggregates">Aggregates</option>
    </select>
  </div>

  <div class="container">
    <div class="divider"></div>
  </div>

  <div class="table-date">
    <div class="table-date-from">
      <span>From</span>
      <nz-date-picker
        [(ngModel)]="dateFrom"
        (ngModelChange)="onChangeDateFrom($event)"
        name="dateFrom"
      ></nz-date-picker>
    </div>
    <div class="table-date-to">
      <span>To</span>
      <nz-date-picker
        [(ngModel)]="dateTo"
        (ngModelChange)="onChangeDateTo($event)"
        name="dateTo"
      ></nz-date-picker>
    </div>
  </div>

  <div class="table-search">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input
        type="text"
        nz-input
        placeholder="Search for Order Number"
        (input)="onChangeSearch($event)"
      />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
  </div>
</div>
